<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="blackbird.com.screenapplication">

    <!-- android:sharedUserId="android.uid.system" -->
    <!-- 电源管理权限 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.REBOOT" />

    <application
        android:name=".application.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".receiver.ScreenReciver" />

        <!-- 设备管理器权限，注册权限监听器 -->
        <receiver
            android:name=".receiver.AdminReciver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/adminmanager" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <!-- 设备管理器权限 恢复出厂设置权限 -->
        <receiver
            android:name=".receiver.WipeDataAdminReciver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/wipedata_adminmanager" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.AppService"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="90000">
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".DevicePolicyManagerActivity"
            android:process=":remote"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar" />
        <activity
            android:name=".AdbScreenActivity"
            android:process="com.screen.remote"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar" />
        <activity
            android:name=".LockScreenActivity"
            android:label="@string/title_activity_lock_screen"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>